<div style="padding: 0 0 15px 0; display: flex;flex-direction: column">
  <div style="display: flex; height: 30px; align-items: center; margin-bottom: 10px; margin-top: 10px">
    <button mat-raised-button color="accent" (click)="runAccentBtn()" [disabled]="list.loading">Load</button>
    <div style="display: flex; flex-grow: 1"></div>
    <data-search-input [(searchModel)]="list.search" label="Search" ></data-search-input>
    <a mat-stroked-button color="primary" routerLink="/admin/questions/add">Add Item</a>
  </div>
  <div style="display: flex; flex-grow: 1;">
    <div style="display: flex;">
      <button mat-raised-button color="accent" (click)="list.toggleTrashList()" [disabled]="list.loading">
        {{list.isTrashList? 'Show main List': 'Show Trash List'}}
      </button>
    </div>

    <div style="display: flex; flex-grow: 1"></div>

    <div style="display: flex; align-items: center;">
      {{ dataService.bundleValues('id' ) }}<div style="margin-left: 5px"></div>

      <ng-template [ngIf]="!list.isTrashList">
        <button (click)="quest.performAction( 'delete' )"
                [disabled]="!dataService.hasSelection" mat-stroked-button color="warn">Trash Selected</button>
        <button (click)="quest.performAction( 'publish' )"
                [disabled]="!dataService.hasSelection" mat-stroked-button color="warn">Publish Selected</button>
      </ng-template>

      <ng-template [ngIf]="list.isTrashList">
        <button (click)="quest.performAction( 'restore' )"
                [disabled]="!dataService.hasSelection" mat-stroked-button color="warn">Restore Selected</button>
        <button (click)="quest.performAction( 'permanent-delete' )"
                [disabled]="!dataService.hasSelection" mat-stroked-button color="warn">Delete Selected Permanently</button>
      </ng-template>
    </div>
  </div>
</div>

<div class="example-container mat-elevation-z8">

  <div class="example-loading-shade"
       *ngIf="list.loading || list.rateLimitReached">

    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>

    <div class="example-rate-limit-reached" *ngIf="list.rateLimitReached">
      {{ errString || 'Connection timed out!' }}
    </div>

  </div>

    <div style="
      font-size: 40px;
      color: #cccccc;
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      z-index: 40;" *ngIf="list.notFound">
      {{ list.isTrashList? 'Trash Empty' : 'No Data found'}}
    </div>


  <div class="example-table-container">

    <table mat-table [dataSource]="data" class="example-table"
           matSort [matSortActive]="!list.isTrashList? 'created_at':'deleted_at'" matSortDisableClear matSortDirection="desc">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? dataService.selectAll( data ) : null"
                        [checked]="dataService.selection.hasValue( )
                                    && dataService.allSeleted( data )"
                        [indeterminate]="dataService.selection.hasValue() && !dataService.allSeleted( data )"
                        [aria-label]="checkboxLabel()" color="primary">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? dataService.selection.toggle(row) : null"
                        [checked]="dataService.selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Title</th>
        <td mat-cell *matCellDef="let row">
          <div>{{row.title}}</div>
          <div style="color:#757575; font-size: 12px">Subjects:
            <span *ngIf="row.category_names.length">{{ cat.names( row.category_names )}}</span>
            <span style="color: #AAA; font-style: italic" *ngIf="row.category_names.length==0">No Category</span>
          </div>
        </td>
      </ng-container>

      <!-- Full Marks Column -->
      <ng-container matColumnDef="answer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Answer</th>
        <td mat-cell *matCellDef="let row">{{row.answer}}</td>
      </ng-container>

      <!-- Full Marks Column -->
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Created</th>
        <td mat-cell *matCellDef="let row">{{row.created_at}}</td>
      </ng-container>

      <!-- Full Marks Column -->
      <ng-container matColumnDef="deleted_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Deleted at</th>
        <td mat-cell *matCellDef="let row">{{row.deleted_at}}</td>
      </ng-container>

      <!-- Full Marks Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">Action</th>
        <td mat-cell *matCellDef="let row" style="text-align: center">

          <ng-container *ngIf="!list.isTrashList">
            <a title="Edit This Item" mat-icon-button [routerLink]="'admin/questions/edit/' + row.id">
              <mat-icon>edit</mat-icon>
            </a>

            <button title="Delete Item" mat-icon-button (click)="quest.performAction( 'delete', row )" >
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>

          <ng-container *ngIf="list.isTrashList">
            <button title="Restore" mat-icon-button (click)="quest.performAction( 'restore', row )" color="primary">
              <mat-icon>restore_from_trash</mat-icon>
            </button>

            <button title="Delete Forever" mat-icon-button (click)="quest.performAction( 'permanent-delete', row )" color="warn">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </ng-container>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="this.paginator?.pageSize || 5" [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
