<style>

  .profile-img {
    display: flex;
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: contain;
    background: url( "https://picsum.photos/id/237/200/300" );
    background-size: contain;
    /*padding: 5px;*/
    justify-content: center;
    align-items: center;
  }
  .profile-img svg {
    width: 30px;
    height: 30px;
    /*border-radius: 50%;*/
  }

  .profile-img-in-popup {
    width: 40px;
    height: 40px;
  }

  #admin-logo {
    transition: 600ms;
  }

  #admin-logo:hover {
    color:#e0e0e0;
  }

</style>

<h1 routerLink="/admin" style="cursor: pointer; outline: none" id="admin-logo">Quiz Circle</h1>

<a routerLink="/"
        mat-raised-button style="line-height: 25px; margin-left: 20px">
  View Site
</a>

<div style="display: flex; flex-grow: 1"></div>

<button mat-button [matMenuTriggerFor]="menu" style="padding-right: 0">
  <span>{{ name }}</span>
  <span style="display: inline-block; margin-left: 10px" class="profile-img">
  </span>
</button>

<mat-menu #menu="matMenu">

  <mat-card class="example-card mat-elevation-z0" >
    <mat-card-header>
      <div mat-card-avatar class="profile-img profile-img-in-popup"></div>
      <mat-card-title>{{email_or_phone}}</mat-card-title>
      <mat-card-subtitle>{{ name }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-nav-list size="25">
          <a mat-list-item routerLink="/admin/profile" >Profile</a>
          <a mat-list-item (click)="logoutUser($event)" >Logout</a>
      </mat-nav-list>
    </mat-card-content>

  </mat-card>

</mat-menu>

