
/***********Expand component*********/

tr.mat-row.example-detail-item {
  height: 0;
}

tr.mat-row.example-detail-row {
  height: 0;
}

tr.mat-row.example-element-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.category-editor-container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.category-editor-actions {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
  padding-bottom: 20px;
}

.category-editor-actions button {
  margin: 5px 0;
}

.category-editor-inputs {
  flex-grow: 1;
  display: flex;
  min-height: 150px;
}

.category-editor-inputs .top{
  display: flex;
  width: 40%;
  flex-direction: column;
}

.category-editor-inputs .bottom{
  padding-left: 15px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.category-editor-inputs .bottom textarea {
  min-height: 92px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

/***********************************/
